     <app-header-admin></app-header-admin>
      <app-members [usuarios]="listaUsuarios"></app-members>

     
    
>

 <!--  <div class="form-box">
   <form [formGroup]="adminForm">
    <label for="correo">correo</label>
    <input type="text" id="correo" formControlName="correo">
    <br><br>
    <label for="contraseña">contraseña</label>
    <input type="correo" id="contraseña" formControlName="contraseña">
    <br><br>
    <label for="rol">rol</label>
    <input type="contraseña" id="rol" formControlName="rol">
    <br><br>
    <button type="button" (click)="eliminar()">Eliminar</button>
    <button type="button" (click)="editar()">Editar</button>
  </form>
</div>-->
  