<!--Logo, formulario, imagen-->
<img id="logoQueen" src="../../../assets/BurgerQueen.png" alt="Logo de BurguerQueen con corona" />

<form [formGroup]="loginForm" (ngSubmit)="saveAuth()">
	<label for="formEmail">Correo</label>
	<input type="email"
    id="formEmail"
    name="correo eletronico"
    placeholder="ejemplo@ejemplo.com"
    (click)="showErrEmail=false"
    formControlName="email">
	<div class="messaggeError"
    *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
    Ingresa un correo válido
  </div>
  <div class="messaggeError" *ngIf="showErrEmail">{{messageErrorEmail}}</div>
	<label for="formPassword">Contraseña</label>
	<input
    [type]="showPassword?'text':'password'"
    id="formPassword"
    name="contraseña"
    placeholder="Contraseña"
    (click)="showErrPassword=false"
    formControlName="password">
  <button class="icon">
    <span class="material-symbols-outlined" *ngIf="!showPassword" (click)="toggleShow()">visibility</span>
    <span class="material-symbols-outlined" *ngIf="showPassword" (click)="toggleShow()">visibility_off</span>
  </button>
	<div class="messaggeError errorPassword"
    *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
		Contraseña mínimo 5 caracteres
  </div>
  <div class="messaggeError errorPassword" *ngIf="showErrPassword">{{messageErrorPassword}}</div>
	<button type="submit" id="buttonLogin"
    [disabled]="loginForm.invalid"
		[ngClass]="{'disabledBtn': loginForm.invalid}">Iniciar sesión
  </button>
</form>

<img id="fastFood" src="../../../assets/comidaRapida.png" alt="papas fritas, gaseosa, aros de cebolla y hamburguesa">
