
<!--Logo, formulario, imagen, footer-->
<img id="logoQueen" src= "../../../assets/BurgerQueen.png" alt="Logo de BurguerQueen con corona"/>

<form>
    <label for="correo">Correo</label>
	<input type="text" id="correo" name="correo eletronico" placeholder="Correo eletronico">
	<br><br>
    <label for="contraseña">Contraseña</label>
	<input type="number" id="contraseña" name="contraseña" placeholder="Contraseña" >
	<br><br>
	<button type="submit" id="iniciar">Iniciar sesión</button>
</form>

<img id="comidaLogin" src="../../../assets/comidaRapida.png" alt="papas fritas, gaseosa, aros de cebolla y hamburguesa">
