<div class="boxOrder">
  <div class="boxOrderUp">
    <label for="tables">Mesa: </label>
    <select name="tables" id="tables">
      <option value="mesa1">mesa 1</option>
      <option value="mesa2">mesa 2</option>
      <option value="mesa3">mesa 3</option>
      <option value="mesa4">mesa 4</option>
      <option value="mesa5">mesa 5</option>
      <option value="mesa6">mesa 6</option>
    </select>
    <label for="nameUser">Nombre: </label>
	  <input type="text" id="nameUser" placeholder="Nombre del cliente">
    <span class="material-symbols-outlined cleanOrder">delete_forever</span>
  </div>
  <hr>
  <div class="ngBoxOrder">
    <div class="boxOrderCenter" *ngFor="let item of totalProductsInOrder; let i=index">
      <button (click)="subtract()"> - </button>
      <span class="number numberCenter" > {{numberCounter}} </span>
      <button (click)="add()"> + </button>
      <span class="food">{{item?.name}}</span>
      <span class="number numberPrice">$ {{item?.price}}</span>
      <span class="material-symbols-outlined">delete</span>
    </div>
    <!-- <div class="boxOrderCenter">
      <button (click)="subtract()"> - </button>
      <span class="number numberCenter"> {{numberCounter1}} </span>
      <button (click)="add()"> + </button>
      <span class="food">HAMBURGUESA DOBLE</span>
      <span class="number numberPrice"> $ 15 </span>
    </div> -->
  </div>
  <hr>
  <div class="boxOrderDown">
    <button>Cocina</button>
    <span class="total">TOTAL:</span>
    <span class="totalPrice"> $ 20 </span>
  </div>
</div>
