<div class="boxOrder">
  <div class="boxOrderUp">
    <label for="tables">Mesa: </label>
    <select name="tables" id="tables" [(ngModel)]="tableUserValue">
      <option value="mesa 1">mesa 1</option>
      <option value="mesa 2">mesa 2</option>
      <option value="mesa 3">mesa 3</option>
      <option value="mesa 4">mesa 4</option>
      <option value="mesa 5">mesa 5</option>
      <option value="mesa 6">mesa 6</option>
    </select>
    <label for="nameUser">Nombre: </label>
	  <input type="text" id="nameUser" placeholder="Nombre del cliente" [(ngModel)]="nameUserValue">
    <span class="material-symbols-outlined cleanOrder" (click)="deleteAll()">delete_forever</span>
  </div>
  <hr>
  <div class="ngBoxOrder">
    <div class="boxOrderCenter" *ngFor="let item of totalProductsInOrder; let i=index">
      <button (click)="subtract(item)"> - </button>
      <span class="number numberCenter" > {{item.qty}}</span>
      <button (click)="add(item)"> + </button>
      <span class="food">{{item.product.name}}</span>
      <span class="number numberPrice">$ {{item.product.price*item.qty}}</span>
      <span class="material-symbols-outlined cleanOneOrder" (click)="deleteOne(item.product.id)">delete</span>
    </div>
  </div>
  <hr>
  <div class="boxOrderDown">
    <button (click)="sendingOrder()">Cocina</button>
    <span class="total">TOTAL:</span>
    <span class="totalPrice"> $ {{totalToPay}} </span>
  </div>
</div>
