@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

.boxOrderUp{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.boxOrder{
  background-color: #f4f4f4;
  width: 98% -10px;
  margin: 0 1%;
  border: 5px solid #F6C634;
  border-radius: 20px;
  padding: 15px;
  position: sticky;
  bottom: 78px;
  font-size: 30px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: bolder;
}
select, #nameUser{
  background: #D9D9D9;
  border-radius: 15px;
  width: 160px;
  font-size: 28px;
  padding-left: 15px;
  border: none;
}
select option{
  font-size: 25px;
}
#nameUser{
  width: 250px;
}
.material-symbols-outlined{
  font-size: 50px;
  color: #bfbebe;
}
.cleanOrder{
  margin-right: -8px;
  padding-left: 20px;
}
.boxOrderCenter{
  display: flex;
  margin: 5px 0 30px 0px;
}
.boxOrderCenter button{
  height: 50px;
  flex: .6;
  background: linear-gradient(180deg, #F7D24D 0%, #d89c2d 100%);
  border: none;
  border-radius: 15px;
  font-size: 35px;
  margin-top: -5px;
  font-weight: bold;
}
.number{
  flex: .8;
}
.numberCenter{
  text-align: center;
}
.numberPrice{
  padding-left: 20px;
}
.ngBoxOrder{
  height: 220px;
  overflow-y: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.cleanOneOrder{
  font-size: 40px;
  flex: .8;
  margin-left: 25px;
  margin-right: -32px;
  padding-right: 0;
}
.food{
  font-size: 28px;
  flex: 250px;
  margin-left: 25px;
  margin-top: 5px;
}
.boxOrderDown{
  display: flex;
  margin-left: 10px;
  margin-right: 15px;
}
.boxOrderDown button{
  flex: 70px;
  height: 50px;
  background: linear-gradient(180deg, #F7D24D 0%, #d89c2d 100%);
  border: none;
  border-radius: 15px;
  font-size: 30px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: bold;
}
.boxOrderDown .total{
  flex: 200px;
  margin-left: 25px;
  margin-top: 5px;
}
.boxOrderDown .totalPrice{
  flex: 1;
  padding-left: 30px;
  margin-top: 5px;
}
