<section class="allOrders">
  <div class="oneOrder orderList">
    <div class="headerOrderBox orderListHeader">
      <span>Listo 🍽️ 10 minutos</span>
      <div class="nameUserOrder">
        <span>María - mesa 1</span>
        <input type="checkbox">
      </div>
    </div>
    <div class="listOrderBox">
      <div class="oneListOrder">
        <span class="amountOrder"> 2 </span>
        <span class="foodOrder"> SANDIWCH DE JAMÓN Y QUESO </span>
      </div>
      <div class="oneListOrder">
        <span class="amountOrder"> 20 </span>
        <span class="foodOrder">HAMBURGUESA DOBLE</span>
      </div>
      <div class="oneListOrder">
        <span class="amountOrder"> 8 </span>
        <span class="foodOrder">JUGO DE FRUTAS</span>
      </div>
    </div>
  </div>
  <div class="oneOrder orderPending">
    <div class="headerOrderBox orderPendingHeader">
      <span>Pendiente ⏱️ 10 minutos</span>
      <div class="nameUserOrder">
        <span>Mario - mesa 4</span>
        <input class="noCheck" type="checkbox">
      </div>
    </div>
    <div class="listOrderBox">
      <div class="oneListOrder">
        <span class="amountOrder"> 2 </span>
        <span class="foodOrder"> SANDIWCH DE JAMÓN Y QUESO </span>
      </div>
      <div class="oneListOrder">
        <span class="amountOrder"> 20 </span>
        <span class="foodOrder">HAMBURGUESA DOBLE</span>
      </div>
    </div>
  </div>
  <div class="oneOrder orderDelivered">
    <div class="headerOrderBox orderDeliveredHeader">
      <span>Listo 🍽️ 10 minutos</span>
      <div class="nameUserOrder">
        <span>Anibal - mesa 2</span>
        <input class="noCheck" type="checkbox" checked="checked">
      </div>
    </div>
    <div class="listOrderBox">
      <div class="oneListOrder">
        <span class="amountOrder"> 2 </span>
        <span class="foodOrder"> SANDIWCH DE JAMÓN Y QUESO </span>
      </div>
      <div class="oneListOrder">
        <span class="amountOrder"> 2 </span>
        <span class="foodOrder">AROS DE CEBOLLA</span>
      </div>
      <div class="oneListOrder">
        <span class="amountOrder"> 8 </span>
        <span class="foodOrder">JUGO DE FRUTAS</span>
      </div>
    </div>
  </div>
</section>
