@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

span{
  position: absolute;
  width: 94px;
  height: 52px;
  left: 552px;
  top: 18px;
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #DCB33A;
}
