<section class="allOrdersCook">
  <div class="oneOrderForCook orderListForCook">
    <div class="headerCookBox orderListForCookHeader">
      <span>Pendiente ⏱️ 15 minutos</span>
      <div class="nameUserOrderForCook">
        <span>María - mesa 1</span>
        <input type="checkbox">
      </div>
    </div>
    <div class="listOrderBoxForCook">
      <div class="oneOrderCook">
        <span class="amountCook"> 2 </span>
        <span class="foodForCook"> SANDIWCH DE JAMÓN Y QUESO </span>
      </div>
      <div class="oneOrderCook">
        <span class="amountCook"> 20 </span>
        <span class="foodForCook">HAMBURGUESA DOBLE</span>
      </div>
      <div class="oneOrderCook">
        <span class="amountCook"> 8 </span>
        <span class="foodForCook">JUGO DE FRUTAS</span>
      </div>
    </div>
  </div>
  <div class="oneOrderForCook orderListForCook">
    <div class="headerCookBox orderListForCookHeader">
      <span>Pendiente ⏱️ 10 minutos</span>
      <div class="nameUserOrderForCook">
        <span>Mario - mesa 4</span>
        <input type="checkbox">
      </div>
    </div>
    <div class="listOrderBoxForCook">
      <div class="oneOrderCook">
        <span class="amountCook"> 2 </span>
        <span class="foodForCook"> SANDIWCH DE JAMÓN Y QUESO </span>
      </div>
      <div class="oneOrderCook">
        <span class="amountCook"> 20 </span>
        <span class="foodForCook">HAMBURGUESA DOBLE</span>
      </div>
    </div>
  </div>
  <div class="oneOrderForCook cookedOrder">
    <div class="headerCookBox cookedOrderHeader">
      <span>Listo 🍽️ 10 minutos</span>
      <div class="nameUserOrderForCook">
        <span>Anibal - mesa 2</span>
        <input class="noCheck" type="checkbox" checked="checked">
      </div>
    </div>
    <div class="listOrderBoxForCook">
      <div class="oneOrderCook">
        <span class="amountCook"> 2 </span>
        <span class="foodForCook"> SANDIWCH DE JAMÓN Y QUESO </span>
      </div>
      <div class="oneOrderCook">
        <span class="amountCook"> 2 </span>
        <span class="foodForCook">AROS DE CEBOLLA</span>
      </div>
      <div class="oneOrderCook">
        <span class="amountCook"> 8 </span>
        <span class="foodForCook">JUGO DE FRUTAS</span>
      </div>
    </div>
  </div>
</section>

