<section class="allOrdersCook">
  <ng-container *ngFor="let item of orders; let i=index">
    <div class="oneOrderForCook" [ngClass]="item.status === 'pending' ? 'orderListForCook' : 'cookedOrder'">
      <div class="headerCookBox" [ngClass]="item.status === 'pending' ? 'orderListForCookHeader' : 'cookedOrderHeader'">
        <span>{{item.status === 'pending' ? 'Pendiente ⏱️' : 'Listo 🍽️'}} {{ item.dateEntry| date: 'shortTime'}}</span>
        <div class="nameUserOrderForCook">
          <span>{{item.client}}</span>
          <input type="checkbox" (change)="onCheckboxChange(item)">
        </div>
      </div>
      <div class="listOrderBoxForCook">
        <div class="oneOrderCook" *ngFor="let one of item.products; let i=index">
          <span class="amountCook">{{ one.qty }}</span>
          <span class="foodForCook"> {{ one.product.name.toUpperCase() }} </span>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- <div class="oneOrderForCook cookedOrder">
    <div class="headerCookBox cookedOrderHeader">
      <span>Listo 🍽️ 10 minutos</span>
      <div class="nameUserOrderForCook">
        <span>Anibal - mesa 2</span>
        <input class="noCheck" type="checkbox" checked="checked">
      </div>
    </div>
    <div class="listOrderBoxForCook">
      <div class="oneOrderCook">
        <span class="amountCook"> 2 </span>
        <span class="foodForCook"> SANDIWCH DE JAMÓN Y QUESO </span>
      </div>
      <div class="oneOrderCook">
        <span class="amountCook"> 2 </span>
        <span class="foodForCook">AROS DE CEBOLLA</span>
      </div>
      <div class="oneOrderCook">
        <span class="amountCook"> 8 </span>
        <span class="foodForCook">JUGO DE FRUTAS</span>
      </div>
    </div>
  </div> -->
</section>

