<div class="container">
  <h2>Lista de personal</h2>
  <button class="btn-agregar" (click)="abrirModal()">+</button>
</div>

<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <div class="form-box">
      <form [formGroup]="adminForm" (ngSubmit)="agregarUsuario()">
        <span class="close" (click)="cerrarModal()">&times;</span>
        <p>Miembro nuevo del equipo</p>

        <label for="correo">Correo</label>
        <input type="text" id="correo" placeholder="ejemplo@ejemplo.com" formControlName="correo">
        <br>

        <label for="contraseña">Contraseña</label>
        <input type="password" id="contraseña" placeholder="ejemplo" formControlName="contraseña">
        <br>

        <label for="rol">Rol</label>
        <input type="text" id="rol" placeholder="ejemplo" formControlName="rol">
        <br>

        <button type="submit">Agregar</button>
        <button type="button" (click)="cerrarModal()">Cancelar</button>
      </form>
    </div>
  </div>
</div>


