<section class="boxFood">
  <div class="unidFood">
    <img class="imageFood" src="../../../../../assets/sandiwchJamonQueso.png" alt="Sandiwch de jamón y queso">
    <span class="textFood">Sandiwch de jamón y queso</span>
    <span class="priceFood">$5</span>
    <button> + </button>
  </div>
  <div class="unidFood">
    <img class="imageFood" src="../../../../../assets/sandiwchJamonQueso.png" alt="Sandiwch de jamón y queso">
    <span class="textFood">Sandiwch de jamón y queso</span>
    <span class="priceFood">$5</span>
    <button> + </button>
  </div>
  <div class="unidFood">
    <img class="imageFood" src="../../../../../assets/sandiwchJamonQueso.png" alt="Sandiwch de jamón y queso">
    <span class="textFood">Hamburguesa doble</span>
    <span class="priceFood">$15</span>
    <button> + </button>
  </div>
  <div class="unidFood">
    <img class="imageFood" src="../../../../../assets/sandiwchJamonQueso.png" alt="Sandiwch de jamón y queso">
    <span class="textFood">Sandiwch de jamón y queso</span>
    <span class="priceFood">$5</span>
    <button> + </button>
  </div>
  <div class="unidFood">
    <img class="imageFood" src="../../../../../assets/sandiwchJamonQueso.png" alt="Sandiwch de jamón y queso">
    <span class="textFood">Sandiwch de jamón y queso</span>
    <span class="priceFood">$5</span>
    <button> + </button>
  </div>
</section>


